/* ROBOT.GIF from Giphy - https://giphy.com/gifs/robot-cinema-4d-eyedesyn-3o7abtn7DuREEpsyWY */

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('https://media.giphy.com/media/kHTzXTDCihfTOwVlqQ/source.gif') center center/cover;
}

button {
  cursor: pointer;
  outline: none;
  width: 200px;
  height: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  color: white;
  background: #ff3482;
  border: none;
  border-radius: 5px;
  box-shadow: inset 5px 25px 5px -20px rgba(255,255,255,0.8); 
}

button:hover {
  filter: brightness(95%);
}

button:active {
  transform: scale(0.98);
}

button:disabled {
  cursor: default;
  filter: brightness(30%);
}

.text {
  display: none;
  max-width: 60vw;
  background-color: whitesmoke;
  opacity: 0.9;
  color: dodgerblue;
  font-size: 2rem;
  padding: 20px 20px;
  border-radius: 5px;
  margin-top: 10%;
  word-break: normal;
  box-shadow: 0 5px 10px 10px rgba(0,0,0,0.5);
}

.text-hide {
  display: none;
}

@media screen and (max-width: 1000px) {
  .container {
    width: 100vw;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: left;
  }
   button {
        box-shadow: 5px 5px 30px 20px rgba(0,0,0,0.5) ;
  }
  .text {
    width: 80vw;
    text-align: center;
  }
}
